<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.william.mall_server.mapper.WilliamCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.william.pojo.WilliamCustomer" >
    <id column="customer_id" property="customerId" jdbcType="CHAR" />
    <result column="customer_phone" property="customerPhone" jdbcType="CHAR" />
    <result column="channel" property="channel" jdbcType="CHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="CHAR" />
    <result column="channel_account" property="channelAccount" jdbcType="CHAR" />
    <result column="customer_password" property="customerPassword" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_gender" property="customerGender" jdbcType="INTEGER" />
    <result column="customer_height" property="customerHeight" jdbcType="INTEGER" />
    <result column="customer_weight" property="customerWeight" jdbcType="INTEGER" />
    <result column="customer_birth" property="customerBirth" jdbcType="DATE" />
    <result column="customer_amount" property="customerAmount" jdbcType="INTEGER" />
    <result column="luck_count" property="luckCount" jdbcType="INTEGER" />
    <result column="cert_type" property="certType" jdbcType="INTEGER" />
    <result column="cert_number" property="certNumber" jdbcType="VARCHAR" />
    <result column="customer_province" property="customerProvince" jdbcType="VARCHAR" />
    <result column="customer_city" property="customerCity" jdbcType="VARCHAR" />
    <result column="customer_districts" property="customerDistricts" jdbcType="VARCHAR" />
    <result column="customer_address" property="customerAddress" jdbcType="VARCHAR" />
    <result column="marital_status" property="maritalStatus" jdbcType="INTEGER" />
    <result column="customer_email" property="customerEmail" jdbcType="VARCHAR" />
    <result column="customer_profession" property="customerProfession" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="customer_icon" property="customerIcon" jdbcType="VARCHAR" />
    <result column="customer_icon_bucket_type" property="customerIconBucketType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="official_status" property="officialStatus" jdbcType="INTEGER" />
    <result column="tenant_id" property="tenantId" jdbcType="CHAR" />
    <result column="center_dept" property="centerDept" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="create_person" property="createPerson" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="mod_id" property="modId" jdbcType="CHAR" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    <result column="client" property="client" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    william_customer.customer_id as customer_id, william_customer.customer_phone as customer_phone, 
    william_customer.channel as channel, william_customer.enterprise_id as enterprise_id, 
    william_customer.channel_account as channel_account, william_customer.customer_password as customer_password, 
    william_customer.customer_name as customer_name, william_customer.customer_gender as customer_gender, 
    william_customer.customer_height as customer_height, william_customer.customer_weight as customer_weight, 
    william_customer.customer_birth as customer_birth, william_customer.customer_amount as customer_amount, 
    william_customer.luck_count as luck_count, william_customer.cert_type as cert_type, 
    william_customer.cert_number as cert_number, william_customer.customer_province as customer_province, 
    william_customer.customer_city as customer_city, william_customer.customer_districts as customer_districts, 
    william_customer.customer_address as customer_address, william_customer.marital_status as marital_status, 
    william_customer.customer_email as customer_email, william_customer.customer_profession as customer_profession, 
    william_customer.balance as balance, william_customer.customer_icon as customer_icon, 
    william_customer.customer_icon_bucket_type as customer_icon_bucket_type, william_customer.status as status, 
    william_customer.official_status as official_status, william_customer.tenant_id as tenant_id, 
    william_customer.center_dept as center_dept, william_customer.user_id as user_id, 
    william_customer.create_person as create_person, william_customer.create_time as create_time, 
    william_customer.mod_id as mod_id, william_customer.mod_time as mod_time, william_customer.client as client
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.william.pojo.WilliamCustomerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from william_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from william_customer
    where william_customer.customer_id = #{customerId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from william_customer
    where customer_id = #{customerId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.william.pojo.WilliamCustomerExample" >
    delete from william_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.william.pojo.WilliamCustomer" >
    insert into william_customer (customer_id, customer_phone, channel, 
      enterprise_id, channel_account, customer_password, 
      customer_name, customer_gender, customer_height, 
      customer_weight, customer_birth, customer_amount, 
      luck_count, cert_type, cert_number, 
      customer_province, customer_city, customer_districts, 
      customer_address, marital_status, customer_email, 
      customer_profession, balance, customer_icon, 
      customer_icon_bucket_type, status, official_status, 
      tenant_id, center_dept, user_id, 
      create_person, create_time, mod_id, 
      mod_time, client)
    values (#{customerId,jdbcType=CHAR}, #{customerPhone,jdbcType=CHAR}, #{channel,jdbcType=CHAR}, 
      #{enterpriseId,jdbcType=CHAR}, #{channelAccount,jdbcType=CHAR}, #{customerPassword,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{customerGender,jdbcType=INTEGER}, #{customerHeight,jdbcType=INTEGER}, 
      #{customerWeight,jdbcType=INTEGER}, #{customerBirth,jdbcType=DATE}, #{customerAmount,jdbcType=INTEGER}, 
      #{luckCount,jdbcType=INTEGER}, #{certType,jdbcType=INTEGER}, #{certNumber,jdbcType=VARCHAR}, 
      #{customerProvince,jdbcType=VARCHAR}, #{customerCity,jdbcType=VARCHAR}, #{customerDistricts,jdbcType=VARCHAR}, 
      #{customerAddress,jdbcType=VARCHAR}, #{maritalStatus,jdbcType=INTEGER}, #{customerEmail,jdbcType=VARCHAR}, 
      #{customerProfession,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{customerIcon,jdbcType=VARCHAR}, 
      #{customerIconBucketType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{officialStatus,jdbcType=INTEGER}, 
      #{tenantId,jdbcType=CHAR}, #{centerDept,jdbcType=VARCHAR}, #{userId,jdbcType=CHAR}, 
      #{createPerson,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modId,jdbcType=CHAR}, 
      #{modTime,jdbcType=TIMESTAMP}, #{client,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.william.pojo.WilliamCustomer" >
    insert into william_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerPhone != null" >
        customer_phone,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="channelAccount != null" >
        channel_account,
      </if>
      <if test="customerPassword != null" >
        customer_password,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerGender != null" >
        customer_gender,
      </if>
      <if test="customerHeight != null" >
        customer_height,
      </if>
      <if test="customerWeight != null" >
        customer_weight,
      </if>
      <if test="customerBirth != null" >
        customer_birth,
      </if>
      <if test="customerAmount != null" >
        customer_amount,
      </if>
      <if test="luckCount != null" >
        luck_count,
      </if>
      <if test="certType != null" >
        cert_type,
      </if>
      <if test="certNumber != null" >
        cert_number,
      </if>
      <if test="customerProvince != null" >
        customer_province,
      </if>
      <if test="customerCity != null" >
        customer_city,
      </if>
      <if test="customerDistricts != null" >
        customer_districts,
      </if>
      <if test="customerAddress != null" >
        customer_address,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
      <if test="customerEmail != null" >
        customer_email,
      </if>
      <if test="customerProfession != null" >
        customer_profession,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="customerIcon != null" >
        customer_icon,
      </if>
      <if test="customerIconBucketType != null" >
        customer_icon_bucket_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="officialStatus != null" >
        official_status,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="centerDept != null" >
        center_dept,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modId != null" >
        mod_id,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
      <if test="client != null" >
        client,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=CHAR},
      </if>
      <if test="customerPhone != null" >
        #{customerPhone,jdbcType=CHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=CHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=CHAR},
      </if>
      <if test="channelAccount != null" >
        #{channelAccount,jdbcType=CHAR},
      </if>
      <if test="customerPassword != null" >
        #{customerPassword,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerGender != null" >
        #{customerGender,jdbcType=INTEGER},
      </if>
      <if test="customerHeight != null" >
        #{customerHeight,jdbcType=INTEGER},
      </if>
      <if test="customerWeight != null" >
        #{customerWeight,jdbcType=INTEGER},
      </if>
      <if test="customerBirth != null" >
        #{customerBirth,jdbcType=DATE},
      </if>
      <if test="customerAmount != null" >
        #{customerAmount,jdbcType=INTEGER},
      </if>
      <if test="luckCount != null" >
        #{luckCount,jdbcType=INTEGER},
      </if>
      <if test="certType != null" >
        #{certType,jdbcType=INTEGER},
      </if>
      <if test="certNumber != null" >
        #{certNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerProvince != null" >
        #{customerProvince,jdbcType=VARCHAR},
      </if>
      <if test="customerCity != null" >
        #{customerCity,jdbcType=VARCHAR},
      </if>
      <if test="customerDistricts != null" >
        #{customerDistricts,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null" >
        #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=INTEGER},
      </if>
      <if test="customerEmail != null" >
        #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="customerProfession != null" >
        #{customerProfession,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="customerIcon != null" >
        #{customerIcon,jdbcType=VARCHAR},
      </if>
      <if test="customerIconBucketType != null" >
        #{customerIconBucketType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="officialStatus != null" >
        #{officialStatus,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="centerDept != null" >
        #{centerDept,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        #{modId,jdbcType=CHAR},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="client != null" >
        #{client,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.william.pojo.WilliamCustomerExample" resultType="java.lang.Integer" >
    select count(*) from william_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update william_customer
    <set >
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=CHAR},
      </if>
      <if test="record.customerPhone != null" >
        customer_phone = #{record.customerPhone,jdbcType=CHAR},
      </if>
      <if test="record.channel != null" >
        channel = #{record.channel,jdbcType=CHAR},
      </if>
      <if test="record.enterpriseId != null" >
        enterprise_id = #{record.enterpriseId,jdbcType=CHAR},
      </if>
      <if test="record.channelAccount != null" >
        channel_account = #{record.channelAccount,jdbcType=CHAR},
      </if>
      <if test="record.customerPassword != null" >
        customer_password = #{record.customerPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerGender != null" >
        customer_gender = #{record.customerGender,jdbcType=INTEGER},
      </if>
      <if test="record.customerHeight != null" >
        customer_height = #{record.customerHeight,jdbcType=INTEGER},
      </if>
      <if test="record.customerWeight != null" >
        customer_weight = #{record.customerWeight,jdbcType=INTEGER},
      </if>
      <if test="record.customerBirth != null" >
        customer_birth = #{record.customerBirth,jdbcType=DATE},
      </if>
      <if test="record.customerAmount != null" >
        customer_amount = #{record.customerAmount,jdbcType=INTEGER},
      </if>
      <if test="record.luckCount != null" >
        luck_count = #{record.luckCount,jdbcType=INTEGER},
      </if>
      <if test="record.certType != null" >
        cert_type = #{record.certType,jdbcType=INTEGER},
      </if>
      <if test="record.certNumber != null" >
        cert_number = #{record.certNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.customerProvince != null" >
        customer_province = #{record.customerProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.customerCity != null" >
        customer_city = #{record.customerCity,jdbcType=VARCHAR},
      </if>
      <if test="record.customerDistricts != null" >
        customer_districts = #{record.customerDistricts,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAddress != null" >
        customer_address = #{record.customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.maritalStatus != null" >
        marital_status = #{record.maritalStatus,jdbcType=INTEGER},
      </if>
      <if test="record.customerEmail != null" >
        customer_email = #{record.customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.customerProfession != null" >
        customer_profession = #{record.customerProfession,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null" >
        balance = #{record.balance,jdbcType=DECIMAL},
      </if>
      <if test="record.customerIcon != null" >
        customer_icon = #{record.customerIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.customerIconBucketType != null" >
        customer_icon_bucket_type = #{record.customerIconBucketType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.officialStatus != null" >
        official_status = #{record.officialStatus,jdbcType=INTEGER},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=CHAR},
      </if>
      <if test="record.centerDept != null" >
        center_dept = #{record.centerDept,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.createPerson != null" >
        create_person = #{record.createPerson,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null" >
        mod_id = #{record.modId,jdbcType=CHAR},
      </if>
      <if test="record.modTime != null" >
        mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update william_customer
    set customer_id = #{record.customerId,jdbcType=CHAR},
      customer_phone = #{record.customerPhone,jdbcType=CHAR},
      channel = #{record.channel,jdbcType=CHAR},
      enterprise_id = #{record.enterpriseId,jdbcType=CHAR},
      channel_account = #{record.channelAccount,jdbcType=CHAR},
      customer_password = #{record.customerPassword,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      customer_gender = #{record.customerGender,jdbcType=INTEGER},
      customer_height = #{record.customerHeight,jdbcType=INTEGER},
      customer_weight = #{record.customerWeight,jdbcType=INTEGER},
      customer_birth = #{record.customerBirth,jdbcType=DATE},
      customer_amount = #{record.customerAmount,jdbcType=INTEGER},
      luck_count = #{record.luckCount,jdbcType=INTEGER},
      cert_type = #{record.certType,jdbcType=INTEGER},
      cert_number = #{record.certNumber,jdbcType=VARCHAR},
      customer_province = #{record.customerProvince,jdbcType=VARCHAR},
      customer_city = #{record.customerCity,jdbcType=VARCHAR},
      customer_districts = #{record.customerDistricts,jdbcType=VARCHAR},
      customer_address = #{record.customerAddress,jdbcType=VARCHAR},
      marital_status = #{record.maritalStatus,jdbcType=INTEGER},
      customer_email = #{record.customerEmail,jdbcType=VARCHAR},
      customer_profession = #{record.customerProfession,jdbcType=VARCHAR},
      balance = #{record.balance,jdbcType=DECIMAL},
      customer_icon = #{record.customerIcon,jdbcType=VARCHAR},
      customer_icon_bucket_type = #{record.customerIconBucketType,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      official_status = #{record.officialStatus,jdbcType=INTEGER},
      tenant_id = #{record.tenantId,jdbcType=CHAR},
      center_dept = #{record.centerDept,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=CHAR},
      create_person = #{record.createPerson,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      mod_id = #{record.modId,jdbcType=CHAR},
      mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      client = #{record.client,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.william.pojo.WilliamCustomer" >
    update william_customer
    <set >
      <if test="customerPhone != null" >
        customer_phone = #{customerPhone,jdbcType=CHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=CHAR},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=CHAR},
      </if>
      <if test="channelAccount != null" >
        channel_account = #{channelAccount,jdbcType=CHAR},
      </if>
      <if test="customerPassword != null" >
        customer_password = #{customerPassword,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerGender != null" >
        customer_gender = #{customerGender,jdbcType=INTEGER},
      </if>
      <if test="customerHeight != null" >
        customer_height = #{customerHeight,jdbcType=INTEGER},
      </if>
      <if test="customerWeight != null" >
        customer_weight = #{customerWeight,jdbcType=INTEGER},
      </if>
      <if test="customerBirth != null" >
        customer_birth = #{customerBirth,jdbcType=DATE},
      </if>
      <if test="customerAmount != null" >
        customer_amount = #{customerAmount,jdbcType=INTEGER},
      </if>
      <if test="luckCount != null" >
        luck_count = #{luckCount,jdbcType=INTEGER},
      </if>
      <if test="certType != null" >
        cert_type = #{certType,jdbcType=INTEGER},
      </if>
      <if test="certNumber != null" >
        cert_number = #{certNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerProvince != null" >
        customer_province = #{customerProvince,jdbcType=VARCHAR},
      </if>
      <if test="customerCity != null" >
        customer_city = #{customerCity,jdbcType=VARCHAR},
      </if>
      <if test="customerDistricts != null" >
        customer_districts = #{customerDistricts,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null" >
        customer_address = #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        marital_status = #{maritalStatus,jdbcType=INTEGER},
      </if>
      <if test="customerEmail != null" >
        customer_email = #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="customerProfession != null" >
        customer_profession = #{customerProfession,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="customerIcon != null" >
        customer_icon = #{customerIcon,jdbcType=VARCHAR},
      </if>
      <if test="customerIconBucketType != null" >
        customer_icon_bucket_type = #{customerIconBucketType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="officialStatus != null" >
        official_status = #{officialStatus,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="centerDept != null" >
        center_dept = #{centerDept,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        mod_id = #{modId,jdbcType=CHAR},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=CHAR},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.william.pojo.WilliamCustomer" >
    update william_customer
    set customer_phone = #{customerPhone,jdbcType=CHAR},
      channel = #{channel,jdbcType=CHAR},
      enterprise_id = #{enterpriseId,jdbcType=CHAR},
      channel_account = #{channelAccount,jdbcType=CHAR},
      customer_password = #{customerPassword,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_gender = #{customerGender,jdbcType=INTEGER},
      customer_height = #{customerHeight,jdbcType=INTEGER},
      customer_weight = #{customerWeight,jdbcType=INTEGER},
      customer_birth = #{customerBirth,jdbcType=DATE},
      customer_amount = #{customerAmount,jdbcType=INTEGER},
      luck_count = #{luckCount,jdbcType=INTEGER},
      cert_type = #{certType,jdbcType=INTEGER},
      cert_number = #{certNumber,jdbcType=VARCHAR},
      customer_province = #{customerProvince,jdbcType=VARCHAR},
      customer_city = #{customerCity,jdbcType=VARCHAR},
      customer_districts = #{customerDistricts,jdbcType=VARCHAR},
      customer_address = #{customerAddress,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=INTEGER},
      customer_email = #{customerEmail,jdbcType=VARCHAR},
      customer_profession = #{customerProfession,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      customer_icon = #{customerIcon,jdbcType=VARCHAR},
      customer_icon_bucket_type = #{customerIconBucketType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      official_status = #{officialStatus,jdbcType=INTEGER},
      tenant_id = #{tenantId,jdbcType=CHAR},
      center_dept = #{centerDept,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=CHAR},
      create_person = #{createPerson,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      mod_id = #{modId,jdbcType=CHAR},
      mod_time = #{modTime,jdbcType=TIMESTAMP},
      client = #{client,jdbcType=CHAR}
    where customer_id = #{customerId,jdbcType=CHAR}
  </update>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.william.pojo.WilliamCustomerExample" >
    select 
<if test="distinct" > 
distinct 
</if> 
<include refid="Base_Column_List" /> 
from william_customer
<if test="_parameter != null" > 
<include refid="Example_Where_Clause" /> 
</if> 
<if test="orderByClause != null" > 
order by ${orderByClause} 
</if> 
limit #{pageSize} offset #{startPos} 

  </select>

  <!-- 手机号密码 查询-->
  <select id="getLoginByPhoneAndPassword" resultType="com.william.pojo.WilliamCustomer">
     select
     <include refid="Base_Column_List" />
     from william_customer
     where william_customer.customer_phone = #{phone} and william_customer.customer_password = #{password}
  </select>

  <!-- 手机号查询用户 -->
  <select id="selectByPhone" resultType="com.william.pojo.WilliamCustomer">
    select
    <include refid="Base_Column_List"/>
    from william_customer
    where william_customer.customer_phone = #{customerPhone}
  </select>
</mapper>