<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.william.mall_server.mapper.WilliamGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.william.pojo.WilliamGoods" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sell" property="sell" jdbcType="DECIMAL" />
    <result column="market_sell" property="marketSell" jdbcType="DECIMAL" />
    <result column="base_value" property="baseValue" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="sell_total" property="sellTotal" jdbcType="INTEGER" />
    <result column="sell_value_total" property="sellValueTotal" jdbcType="DECIMAL" />
    <result column="exchange_type" property="exchangeType" jdbcType="INTEGER" />
    <result column="exchange_point" property="exchangePoint" jdbcType="INTEGER" />
    <result column="give_point" property="givePoint" jdbcType="INTEGER" />
    <result column="user_point" property="userPoint" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="residue" property="residue" jdbcType="INTEGER" />
    <result column="month_sell" property="monthSell" jdbcType="INTEGER" />
    <result column="service_tags" property="serviceTags" jdbcType="VARCHAR" />
    <result column="favorite" property="favorite" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="title_category_id" property="titleCategoryId" jdbcType="INTEGER" />
    <result column="putaway" property="putaway" jdbcType="INTEGER" />
    <result column="describes" property="describes" jdbcType="VARCHAR" />
    <result column="imgs" property="imgs" jdbcType="VARCHAR" />
    <result column="detail_banner_imgs" property="detailBannerImgs" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="INTEGER" />
    <result column="max_buy" property="maxBuy" jdbcType="INTEGER" />
    <result column="ship_address" property="shipAddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="CHAR" />
    <result column="client" property="client" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    william_goods.id as id, william_goods.code as code, william_goods.name as name, william_goods.title as title, 
    william_goods.sell as sell, william_goods.market_sell as market_sell, william_goods.base_value as base_value, 
    william_goods.discount as discount, william_goods.sell_total as sell_total, william_goods.sell_value_total as sell_value_total, 
    william_goods.exchange_type as exchange_type, william_goods.exchange_point as exchange_point, 
    william_goods.give_point as give_point, william_goods.user_point as user_point, william_goods.total as total, 
    william_goods.residue as residue, william_goods.month_sell as month_sell, william_goods.service_tags as service_tags, 
    william_goods.favorite as favorite, william_goods.category_id as category_id, william_goods.title_category_id as title_category_id, 
    william_goods.putaway as putaway, william_goods.describes as describes, william_goods.imgs as imgs, 
    william_goods.detail_banner_imgs as detail_banner_imgs, william_goods.detail as detail, 
    william_goods.goods_type as goods_type, william_goods.max_buy as max_buy, william_goods.ship_address as ship_address, 
    william_goods.status as status, william_goods.create_time as create_time, william_goods.create_name as create_name, 
    william_goods.create_id as create_id, william_goods.update_time as update_time, william_goods.update_name as update_name, 
    william_goods.update_id as update_id, william_goods.tenant_id as tenant_id, william_goods.client as client
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.william.pojo.WilliamGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from william_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from william_goods
    where william_goods.id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from william_goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.william.pojo.WilliamGoodsExample" >
    delete from william_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.william.pojo.WilliamGoods" >
    insert into william_goods (id, code, name, 
      title, sell, market_sell, 
      base_value, discount, sell_total, 
      sell_value_total, exchange_type, exchange_point, 
      give_point, user_point, total, 
      residue, month_sell, service_tags, 
      favorite, category_id, title_category_id, 
      putaway, describes, imgs, 
      detail_banner_imgs, detail, goods_type, 
      max_buy, ship_address, status, 
      create_time, create_name, create_id, 
      update_time, update_name, update_id, 
      tenant_id, client)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{sell,jdbcType=DECIMAL}, #{marketSell,jdbcType=DECIMAL}, 
      #{baseValue,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, #{sellTotal,jdbcType=INTEGER}, 
      #{sellValueTotal,jdbcType=DECIMAL}, #{exchangeType,jdbcType=INTEGER}, #{exchangePoint,jdbcType=INTEGER}, 
      #{givePoint,jdbcType=INTEGER}, #{userPoint,jdbcType=INTEGER}, #{total,jdbcType=INTEGER}, 
      #{residue,jdbcType=INTEGER}, #{monthSell,jdbcType=INTEGER}, #{serviceTags,jdbcType=VARCHAR}, 
      #{favorite,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{titleCategoryId,jdbcType=INTEGER}, 
      #{putaway,jdbcType=INTEGER}, #{describes,jdbcType=VARCHAR}, #{imgs,jdbcType=VARCHAR}, 
      #{detailBannerImgs,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{goodsType,jdbcType=INTEGER}, 
      #{maxBuy,jdbcType=INTEGER}, #{shipAddress,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateName,jdbcType=VARCHAR}, #{updateId,jdbcType=VARCHAR}, 
      #{tenantId,jdbcType=CHAR}, #{client,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.william.pojo.WilliamGoods" >
    insert into william_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sell != null" >
        sell,
      </if>
      <if test="marketSell != null" >
        market_sell,
      </if>
      <if test="baseValue != null" >
        base_value,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="sellTotal != null" >
        sell_total,
      </if>
      <if test="sellValueTotal != null" >
        sell_value_total,
      </if>
      <if test="exchangeType != null" >
        exchange_type,
      </if>
      <if test="exchangePoint != null" >
        exchange_point,
      </if>
      <if test="givePoint != null" >
        give_point,
      </if>
      <if test="userPoint != null" >
        user_point,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="residue != null" >
        residue,
      </if>
      <if test="monthSell != null" >
        month_sell,
      </if>
      <if test="serviceTags != null" >
        service_tags,
      </if>
      <if test="favorite != null" >
        favorite,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="titleCategoryId != null" >
        title_category_id,
      </if>
      <if test="putaway != null" >
        putaway,
      </if>
      <if test="describes != null" >
        describes,
      </if>
      <if test="imgs != null" >
        imgs,
      </if>
      <if test="detailBannerImgs != null" >
        detail_banner_imgs,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="maxBuy != null" >
        max_buy,
      </if>
      <if test="shipAddress != null" >
        ship_address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateName != null" >
        update_name,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="client != null" >
        client,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sell != null" >
        #{sell,jdbcType=DECIMAL},
      </if>
      <if test="marketSell != null" >
        #{marketSell,jdbcType=DECIMAL},
      </if>
      <if test="baseValue != null" >
        #{baseValue,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="sellTotal != null" >
        #{sellTotal,jdbcType=INTEGER},
      </if>
      <if test="sellValueTotal != null" >
        #{sellValueTotal,jdbcType=DECIMAL},
      </if>
      <if test="exchangeType != null" >
        #{exchangeType,jdbcType=INTEGER},
      </if>
      <if test="exchangePoint != null" >
        #{exchangePoint,jdbcType=INTEGER},
      </if>
      <if test="givePoint != null" >
        #{givePoint,jdbcType=INTEGER},
      </if>
      <if test="userPoint != null" >
        #{userPoint,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="residue != null" >
        #{residue,jdbcType=INTEGER},
      </if>
      <if test="monthSell != null" >
        #{monthSell,jdbcType=INTEGER},
      </if>
      <if test="serviceTags != null" >
        #{serviceTags,jdbcType=VARCHAR},
      </if>
      <if test="favorite != null" >
        #{favorite,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="titleCategoryId != null" >
        #{titleCategoryId,jdbcType=INTEGER},
      </if>
      <if test="putaway != null" >
        #{putaway,jdbcType=INTEGER},
      </if>
      <if test="describes != null" >
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null" >
        #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="detailBannerImgs != null" >
        #{detailBannerImgs,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="maxBuy != null" >
        #{maxBuy,jdbcType=INTEGER},
      </if>
      <if test="shipAddress != null" >
        #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        #{client,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.william.pojo.WilliamGoodsExample" resultType="java.lang.Integer" >
    select count(*) from william_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update william_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sell != null" >
        sell = #{record.sell,jdbcType=DECIMAL},
      </if>
      <if test="record.marketSell != null" >
        market_sell = #{record.marketSell,jdbcType=DECIMAL},
      </if>
      <if test="record.baseValue != null" >
        base_value = #{record.baseValue,jdbcType=DECIMAL},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.sellTotal != null" >
        sell_total = #{record.sellTotal,jdbcType=INTEGER},
      </if>
      <if test="record.sellValueTotal != null" >
        sell_value_total = #{record.sellValueTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.exchangeType != null" >
        exchange_type = #{record.exchangeType,jdbcType=INTEGER},
      </if>
      <if test="record.exchangePoint != null" >
        exchange_point = #{record.exchangePoint,jdbcType=INTEGER},
      </if>
      <if test="record.givePoint != null" >
        give_point = #{record.givePoint,jdbcType=INTEGER},
      </if>
      <if test="record.userPoint != null" >
        user_point = #{record.userPoint,jdbcType=INTEGER},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.residue != null" >
        residue = #{record.residue,jdbcType=INTEGER},
      </if>
      <if test="record.monthSell != null" >
        month_sell = #{record.monthSell,jdbcType=INTEGER},
      </if>
      <if test="record.serviceTags != null" >
        service_tags = #{record.serviceTags,jdbcType=VARCHAR},
      </if>
      <if test="record.favorite != null" >
        favorite = #{record.favorite,jdbcType=INTEGER},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.titleCategoryId != null" >
        title_category_id = #{record.titleCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.putaway != null" >
        putaway = #{record.putaway,jdbcType=INTEGER},
      </if>
      <if test="record.describes != null" >
        describes = #{record.describes,jdbcType=VARCHAR},
      </if>
      <if test="record.imgs != null" >
        imgs = #{record.imgs,jdbcType=VARCHAR},
      </if>
      <if test="record.detailBannerImgs != null" >
        detail_banner_imgs = #{record.detailBannerImgs,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsType != null" >
        goods_type = #{record.goodsType,jdbcType=INTEGER},
      </if>
      <if test="record.maxBuy != null" >
        max_buy = #{record.maxBuy,jdbcType=INTEGER},
      </if>
      <if test="record.shipAddress != null" >
        ship_address = #{record.shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createName != null" >
        create_name = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateName != null" >
        update_name = #{record.updateName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=CHAR},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update william_goods
    set id = #{record.id,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      sell = #{record.sell,jdbcType=DECIMAL},
      market_sell = #{record.marketSell,jdbcType=DECIMAL},
      base_value = #{record.baseValue,jdbcType=DECIMAL},
      discount = #{record.discount,jdbcType=DECIMAL},
      sell_total = #{record.sellTotal,jdbcType=INTEGER},
      sell_value_total = #{record.sellValueTotal,jdbcType=DECIMAL},
      exchange_type = #{record.exchangeType,jdbcType=INTEGER},
      exchange_point = #{record.exchangePoint,jdbcType=INTEGER},
      give_point = #{record.givePoint,jdbcType=INTEGER},
      user_point = #{record.userPoint,jdbcType=INTEGER},
      total = #{record.total,jdbcType=INTEGER},
      residue = #{record.residue,jdbcType=INTEGER},
      month_sell = #{record.monthSell,jdbcType=INTEGER},
      service_tags = #{record.serviceTags,jdbcType=VARCHAR},
      favorite = #{record.favorite,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      title_category_id = #{record.titleCategoryId,jdbcType=INTEGER},
      putaway = #{record.putaway,jdbcType=INTEGER},
      describes = #{record.describes,jdbcType=VARCHAR},
      imgs = #{record.imgs,jdbcType=VARCHAR},
      detail_banner_imgs = #{record.detailBannerImgs,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      goods_type = #{record.goodsType,jdbcType=INTEGER},
      max_buy = #{record.maxBuy,jdbcType=INTEGER},
      ship_address = #{record.shipAddress,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_name = #{record.createName,jdbcType=VARCHAR},
      create_id = #{record.createId,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_name = #{record.updateName,jdbcType=VARCHAR},
      update_id = #{record.updateId,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=CHAR},
      client = #{record.client,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.william.pojo.WilliamGoods" >
    update william_goods
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sell != null" >
        sell = #{sell,jdbcType=DECIMAL},
      </if>
      <if test="marketSell != null" >
        market_sell = #{marketSell,jdbcType=DECIMAL},
      </if>
      <if test="baseValue != null" >
        base_value = #{baseValue,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="sellTotal != null" >
        sell_total = #{sellTotal,jdbcType=INTEGER},
      </if>
      <if test="sellValueTotal != null" >
        sell_value_total = #{sellValueTotal,jdbcType=DECIMAL},
      </if>
      <if test="exchangeType != null" >
        exchange_type = #{exchangeType,jdbcType=INTEGER},
      </if>
      <if test="exchangePoint != null" >
        exchange_point = #{exchangePoint,jdbcType=INTEGER},
      </if>
      <if test="givePoint != null" >
        give_point = #{givePoint,jdbcType=INTEGER},
      </if>
      <if test="userPoint != null" >
        user_point = #{userPoint,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="residue != null" >
        residue = #{residue,jdbcType=INTEGER},
      </if>
      <if test="monthSell != null" >
        month_sell = #{monthSell,jdbcType=INTEGER},
      </if>
      <if test="serviceTags != null" >
        service_tags = #{serviceTags,jdbcType=VARCHAR},
      </if>
      <if test="favorite != null" >
        favorite = #{favorite,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="titleCategoryId != null" >
        title_category_id = #{titleCategoryId,jdbcType=INTEGER},
      </if>
      <if test="putaway != null" >
        putaway = #{putaway,jdbcType=INTEGER},
      </if>
      <if test="describes != null" >
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null" >
        imgs = #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="detailBannerImgs != null" >
        detail_banner_imgs = #{detailBannerImgs,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="maxBuy != null" >
        max_buy = #{maxBuy,jdbcType=INTEGER},
      </if>
      <if test="shipAddress != null" >
        ship_address = #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null" >
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.william.pojo.WilliamGoods" >
    update william_goods
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      sell = #{sell,jdbcType=DECIMAL},
      market_sell = #{marketSell,jdbcType=DECIMAL},
      base_value = #{baseValue,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      sell_total = #{sellTotal,jdbcType=INTEGER},
      sell_value_total = #{sellValueTotal,jdbcType=DECIMAL},
      exchange_type = #{exchangeType,jdbcType=INTEGER},
      exchange_point = #{exchangePoint,jdbcType=INTEGER},
      give_point = #{givePoint,jdbcType=INTEGER},
      user_point = #{userPoint,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      residue = #{residue,jdbcType=INTEGER},
      month_sell = #{monthSell,jdbcType=INTEGER},
      service_tags = #{serviceTags,jdbcType=VARCHAR},
      favorite = #{favorite,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      title_category_id = #{titleCategoryId,jdbcType=INTEGER},
      putaway = #{putaway,jdbcType=INTEGER},
      describes = #{describes,jdbcType=VARCHAR},
      imgs = #{imgs,jdbcType=VARCHAR},
      detail_banner_imgs = #{detailBannerImgs,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=INTEGER},
      max_buy = #{maxBuy,jdbcType=INTEGER},
      ship_address = #{shipAddress,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_name = #{createName,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_id = #{updateId,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=CHAR},
      client = #{client,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.william.pojo.WilliamGoodsExample" >
    select 
<if test="distinct" > 
distinct 
</if> 
<include refid="Base_Column_List" /> 
from william_goods
<if test="_parameter != null" > 
<include refid="Example_Where_Clause" /> 
</if> 
<if test="orderByClause != null" > 
order by ${orderByClause} 
</if> 
limit #{pageSize} offset #{startPos} 

  </select>

  <!-- 推荐商品-->
  <select id="getRecommendGoodsByPage" resultType="com.william.pojo.WilliamGoods">
     select
     <include refid="Base_Column_List"/>
    from william_goods
    where william_goods.id in (select goods_id from william_recommend_goods where status = 1 and tenant_id = #{tenantId} and client = #{client} )
    order by william_goods.id desc
  </select>


  <!-- 商品添加收藏数 -->
  <update id="addGoodsFavoriteById">
    update william_goods
    set favorite = favorite + 1 where id = #{value}
  </update>

  <!-- 商品减少收藏数-->
  <update id="updateGoodsFavoriteById">
    update william_goods
    set favorite = favorite - 1 where id = #{value}
  </update>
</mapper>